body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: black;
background-image:url(relax.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}
.card{
background: black;
color: aliceblue;
border-radius: 40px;
width: 100%;
max-width: 430px;
padding: 2em;


}
button:hover{
    background: gray;
}
.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}
.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
button{
  height: 25px; 
  width: 60px;

}
